{{#> head title="About" }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ static 'src/pages/home/index.css' type='entrypoint' }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ static 'src/pages/about/index.css' type='entrypoint' }}"
/>
{{/ head }}
<body>
  <div id="title-bar">
    <div class="left-half">
      <a href="/" class="back" title="Back">&larr;</a>
    </div>
    <h1>About</h1>

    <div class="right-half"></div>
  </div>
  <div id="layout">
    {{> nav }}

    <main>
      <h1>About</h1>

      <p>
        Quickly generate and share permalinks to date and time without worrying
        about timezones and calendar software
      </p>

      <p>
        Select date and time, copy the URL, and share it with your team or
        community. They will see date and time in both your and <i>their</i>
        timezones
      </p>

      <p>
        For example, here are links for
        <a href="/Europe/Kyiv/14:56">14:56 in Kyiv</a> and
        <a href="/Europe/London/14:56">in London</a>
      </p>

      <h2>Slack integration</h2>
      <p>
        With when.st’s Slack app, everyone could see <i>their</i> local time
        right in the chat whenever a when.st link is shared
      </p>

      <p>
        <a class="button primary" href="/slack/install">Install when.st</a>
      </p>

      <h2>Credits</h2>
      <p>
        Code and Design: <a href="https://anton.codes">Anton</a> /
        <a href="https://devua.club/@zemlanin" rel="me">&#64;zemlanin</a>
      </p>
      <span> Ideas</span>
      <ul>
        <li>Original idea: <a href="https://samwho.dev/">Sam Rose</a></li>
        <li>
          Discord timestamps:
          <a href="https://tildy.dev/elsewhen/">Elsewhen</a>
        </li>
      </ul>
      <p>
        Font:
        <a
          href="https://github.com/iaolo/iA-Fonts/tree/master/iA%20Writer%20Quattro"
          >iA Writer Quattro</a
        >
        by <a href="https://ia.net">iA</a>
      </p>
      <p>
        Icons: <a href="https://fontawesome.com/">Font Awesome</a> by Fonticons,
        Inc.
      </p>

      <!-- <h2>Idea</h2>

      <a href="https://twitter.com/samwhoo/status/1527231505822523392">
        <picture id="the-tweet">
          <source
            srcset="../../../images/the-tweet-black.png"
            media="(prefers-color-scheme: dark)"
          />
          <img
            src="../../../images/the-tweet-white.png"
            width="1196"
            height="535"
            alt="Tweet by Sam Rose: I'd like a website where I can give it an exact date and time, and it gives me back a shareable URL that, when opened, the recipient sees that time and date in their local timezone. I'm sure this exists but I can't find one. Halp?"
          />
        </picture>
      </a> -->
    </main>
  </div>
  <script
    src="{{ static 'src/register-sw.ts' type='entrypoint' }}"
    type="module"
  ></script>
  <script
    src="{{ static 'src/pages/about/index.ts' type='entrypoint' }}"
    type="module"
  ></script>
</body>
