h2 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

p,
ul {
  margin-top: 0;
}

#the-tweet img,
#slack-unfurl img {
  width: auto;
  height: auto;
  max-width: 100%;
}

#slack-unfurl img {
  pointer-events: none;
}
