@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),
    url("/fonts/iAWriterQuattroS-Regular.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/iAWriterQuattroS-Italic.woff2") format("woff2"),
    url("/fonts/iAWriterQuattroS-Italic.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/iAWriterQuattroS-Bold.woff2") format("woff2"),
    url("/fonts/iAWriterQuattroS-Bold.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"),
    url("/fonts/iAWriterQuattroS-BoldItalic.woff") format("woff");
}

body,
span,
div,
button,
input,
select,
textarea,
optgroup {
  font-family: "iA Writer Quattro S", ui-monospace, system-ui-monospaced,
    "SF Mono", "Menlo", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  font-size: 16px;
}

div,
span,
input,
button {
  line-height: 1.35em;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1,
h2,
h3 {
  line-height: 1.25em;
}

button {
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  font-weight: 400;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
}

.button,
button {
  color: black;
  background-color: lightgray;
  border-color: lightgray;
  padding: 0.25em;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}

.button.primary,
button.primary {
  background-color: royalblue;
  border-color: royalblue;
  color: white;
}

.button.danger,
button.danger {
  background-color: rgb(202, 60, 60);
  border-color: rgb(202, 60, 60);
  color: white;
}

.button:disabled,
.button.primary:disabled,
button:disabled,
button.primary:disabled,
form:invalid button,
form:invalid button.primary {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #555;
}

a,
a:link,
a:visited {
  color: #0969da;
  text-decoration: none;
}

a.invalid,
a.invalid:link,
a.invalid:hover,
a.invalid:visited {
  text-decoration: line-through;
  color: #555;
}

a:hover {
  text-decoration: underline;
}

input {
  border: lightgray 1px solid;
  background-color: white;
  color: black;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    background-color: black;
    color: white;
  }

  a,
  a:link,
  a:visited {
    color: #539bf5;
  }

  input {
    background-color: black;
    color: white;
    border-color: darkgray;
  }

  .button:disabled,
  .button.primary:disabled,
  button:disabled,
  button.primary:disabled,
  form:invalid button,
  form:invalid button.primary {
    background-color: darkgray;
    border-color: darkgray;
    color: #555;
  }
}

#layout {
  width: 30rem;
  margin: 0rem auto;
  padding: 0 0.25rem;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - 1rem);
  min-height: calc(100dvh - 1rem);
}

nav {
  padding: 0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

nav a.logo {
  line-height: 0;
}

nav a.about {
}

form#clock {
  display: flex;
  flex-flow: column;
  min-height: 30vh;
  padding: 1rem 0;
  justify-content: center;
}

form#clock[hidden] {
  display: none;
}

form#clock input[type="datetime-local"] {
  text-align: center;
  align-self: center;
  font-size: 1.3rem;
}

@media (min-width: 30rem) {
  form#clock input[type="datetime-local"] {
    font-size: 2rem;
  }
}

#remote-label {
  align-self: center;
  margin-bottom: 1rem;
  text-align: center;
}

#remote-place {
  white-space: nowrap;
}

#remote-relative {
  white-space: nowrap;
}

#local-relative {
  color: gray;
  align-self: center;
  font-style: italic;
}

#local-label {
  align-self: center;
  margin-top: 1rem;
}

#local-url {
  display: inline-block;
  padding-bottom: 1px;
  line-height: 0;
}

#local-url:hover {
  border-bottom: #0969da 1px solid;
}

#saved-timezones {
}

#saved-timezones #local-as-saved {
  margin-bottom: 1.5em;
}

#saved-timezones .header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#saved-timezones .timezone-row,
#timezones-edit .timezone-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25rem;
  margin: 0 -0.25rem 0.5rem;
  background-color: rgba(128, 128, 128, 0);
  transition: background-color ease-in-out 0.3s;
  min-height: 2.25em;
}

#saved-timezones .timezone-row div[data-tz] {
  text-align: center;
  margin-right: 0;
}

#saved-timezones .timezone-row .timezone-label {
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spacer {
  flex-grow: 1;
}

.spacer2 {
  flex-grow: 2;
}

#credits {
  align-self: center;
  margin-top: 2rem;
}

#the-tweet img {
  width: auto;
  height: auto;
  max-width: 100%;
}

#timezones-edit ul {
  list-style: none;
  padding: 0;
}

#timezones-edit .timezone-row.sortable-ghost {
  background-color: rgba(128, 128, 128, 0.25);
  transition: background-color ease-in-out 0s;
}

#timezones-edit .timezone-row .dnd-handle {
  width: 1rem;
  line-height: 0;
  cursor: grab;
  margin-right: 0.5rem;
}

#timezones-edit .timezone-row .dnd-handle svg {
  fill: #888;
}

#timezones-edit .timezone-row.saving .dnd-handle svg {
  fill: red;
}

#timezones-edit .timezone-row .timezone-label-wrapper {
  flex-grow: 1;
  margin: 0 0.5rem;
}

#add-timezone {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
}

#add-timezone input {
  width: 100px;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 0.25rem;
}
