{{>partials_head}}
<body>
  <div id="layout">
    <div>
      <form method="GET" action="https://slack.com/oauth/authorize">
        <input type="hidden" name="client_id" value="{{client_id}}">
        <input type="hidden" name="redirect_uri" value="{{ absolute "authSlack" }}">
        <input type="hidden" name="state" value="{{ state }}">
        <input type="hidden" name="scope"
          value="team:read users.profile:read users.profile:write dnd:write emoji:read"
        >
        <button type="submit">login</button>
      </form>
    </div>
  </div>
</body>
