.timezones-map {
  width: 100%;
  min-width: 300px;
  height: min(280px, calc(100vw / 16 * 9));
  border-color: var(--regular);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;

  /* leaflet styles */
  position: relative;
  outline-style: none;
  overflow: hidden;
}

.timezones-map.leaflet-container {
  background: var(--background);
}

.timezones-map .leaflet-control.leaflet-control-attribution {
  color: var(--foreground);
  background: var(--background);
}

.timezones-map .leaflet-control.leaflet-control-attribution,
.timezones-map .leaflet-control.leaflet-control-attribution span,
.timezones-map .leaflet-control.leaflet-control-attribution a {
  font-size: 10px;
}

.leaflet-bar a, .leaflet-bar a:hover, .leaflet-bar a:focus {
  background: var(--background);
  color: var(--foreground);
  text-decoration: none;
}

.leaflet-bar, .leaflet-bar a, .leaflet-touch .leaflet-bar a:first-child, .leaflet-touch .leaflet-bar a:last-child {
  border-radius: 0;
}

.leaflet-bar a span {
  font-size: 22px;
  line-height: 30px;
}

.leaflet-bar [role="button"][aria-disabled="true"] {
  cursor: not-allowed;
  background-color: var(--disabled);
  border-color: var(--disabled);
  color: var(--disabled-foreground);
}

@media (prefers-color-scheme: dark) {
  .timezones-map .leaflet-tile {
    filter: brightness(50%);
  }
}
