{{>partials_head}}
<body>
  <div id="layout" class="pure-g">
    {{#with activeSlack}}
      {{>partials_topbar
        user_id=user_id
        profile=profile
        team=team
        current_status=current_status
      }}
    {{/with}}

    <div class="pure-u-1">
      <div class="preset-row">
        <a
          href="{{ route "slackPresetsList" user_id=user_id }}"
          style="font-size: 2em;"
        >
          presets
        </a>
        <a
          class="deeper"
          role="presentation"
          href="{{ route "slackPresetsList" user_id=user_id }}"
          style="font-size: 2em;"
        >
          â¯
        </a>
      </div>

      <div style="padding: 3em 0.5em 0.5em;">
        <form method="POST" action="{{ route "authLogout" }}">
          <input type="hidden" name="_csrf" value="{{@csrfToken}}">
          <button type="submit">logout</button>
        </form>
      </div>
    </div>
  </div>
</body>
