{{#> head title=opengraph.title }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ static 'src/pages/home/index.css' type='entrypoint' }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ static 'src/pages/home/index.tsx' type='css-modules' }}"
/>
{{/ head }}
<body>
  <div id="title-bar">
    <div class="left-half">
      <a href="/" class="back" title="Back" hidden>&larr;</a>
    </div>

    <div class="heading"></div>

    <div class="right-half"></div>
  </div>
  <div id="layout">
    {{> nav }}

    <main></main>
  </div>
  <script
    src="{{ static 'src/register-sw.ts' type='entrypoint' }}"
    type="module"
  ></script>
  <script
    src="{{ static 'src/pages/home/index.tsx' type='entrypoint' }}"
    type="module"
  ></script>
</body>
