@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../../fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),
    url("../../../fonts/iAWriterQuattroS-Regular.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../../fonts/iAWriterQuattroS-Italic.woff2") format("woff2"),
    url("../../../fonts/iAWriterQuattroS-Italic.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../../../fonts/iAWriterQuattroS-Bold.woff2") format("woff2"),
    url("../../../fonts/iAWriterQuattroS-Bold.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("../../../fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"),
    url("../../../fonts/iAWriterQuattroS-BoldItalic.woff") format("woff");
}

:root {
  --background: hsl(0, 0%, 100%); /* white */
  --foreground: hsl(0, 0%, 0%); /* black */
  --deemphasis: hsl(0, 0%, 50%);
  --separator: hsl(0, 0%, 85%);
  --focus: #0969da;
  --primary: #0969da;
  --primary-foreground: hsl(0, 0%, 100%);
  --disabled: hsl(0, 0%, 90%);
  --disabled-foreground: hsl(0, 0%, 50%);
  --regular: hsl(0, 0%, 85%);
  --regular-foreground: hsl(0, 0%, 0%);
  --section: hsl(0, 0%, 97%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 0%);
    --foreground: hsl(0, 0%, 100%);
    --separator: hsl(0, 0%, 20%);
    --focus: #3494f7;
    --primary: #3494f7;

    --primary-foreground: hsl(0, 0%, 0%);
    --disabled: hsl(0, 0%, 15%);
    --disabled-foreground: hsl(0, 0%, 50%);
    --regular: hsl(0, 0%, 20%);
    --regular-foreground: hsl(0, 0%, 100%);
    --section: hsl(0, 0%, 8%);
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

body,
span,
div,
button,
input,
select,
textarea,
optgroup {
  font-family:
    "iA Writer Quattro S", ui-monospace, system-ui-monospaced, "SF Mono",
    "Menlo", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  font-size: 16px;
}

body {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "ss03";
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  margin-right: calc(0.5rem + env(safe-area-inset-right));
  margin-left: calc(0.5rem + env(safe-area-inset-left));
}

div,
span,
input,
button {
  line-height: 1.35em;
}

input {
  padding: 0.25rem;
  max-width: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1,
h2,
h3 {
  line-height: 1.25em;
}

button {
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  font-weight: 400;
  touch-action: manipulation;
}

button:disabled,
form:invalid button[type="submit"],
[role="button"][aria-disabled="true"] {
  cursor: not-allowed;
}

.button,
button {
  color: var(--regular-foreground);
  background-color: var(--regular);
  border-color: var(--regular);
  padding: 0.25em;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}

.button.primary,
button.primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-foreground);
}

.button:disabled,
.button.primary:disabled,
button:disabled,
button.primary:disabled,
form:invalid button,
form:invalid button.primary,
[role="button"][aria-disabled="true"] {
  background-color: var(--disabled);
  border-color: var(--disabled);
  color: var(--disabled-foreground);
}

a,
a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}

a.invalid,
a.invalid:link,
a.invalid:hover,
a.invalid:visited {
  text-decoration: line-through;
  color: var(--disabled-foreground);
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  border-bottom: var(--separator) 2px solid;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: 0;
  border-color: var(--separator);
  /*
    iOS Safari applies `accent-color` to `input[type="datetime-local"]` _text_
    accent-color: var(--primary);
  */
}

input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  background-color: var(--primary);
  border-radius: 0;
}

:focus-visible,
/* Safari 17-18 doesn't _always_ set it on listbox options */
[role="option"]:focus {
  outline: solid 2px var(--primary);
  outline-offset: 0.1em;
}

input:focus-visible,
/* Safari 17-18 doesn't set `:focus-visible` pseudoclass on datetime inputs */
input[type="datetime-local"]:focus {
  outline: none;
  border-color: var(--primary);
}

input[type="datetime-local"]:focus,
input:focus-visible {
  outline-offset: -1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

#layout {
  width: 30rem;
  margin: 0rem auto;
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-flow: column;
}

nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: var(--background);
  padding-top: calc(0.5rem + env(safe-area-inset-top));
  padding-bottom: 0.25rem;
  padding-inline: 0.5rem;
  margin-inline: -0.5rem;
  margin-block-end: 0.25rem;
  z-index: 2;
}

#title-bar {
  display: none;
  position: fixed;
  top: env(titlebar-area-y, 0);
  left: 0;
  width: 100%;
  min-height: env(titlebar-area-height, 0px);
  background-color: var(--background);

  box-sizing: border-box;
  padding-left: calc(1em + env(titlebar-area-x, 0px));
  padding-right: calc(
    2px + 100% - env(titlebar-area-width, 100%) - env(titlebar-area-x, 0px)
  );

  -webkit-app-region: drag;
  app-region: drag;
}

#title-bar .left-half,
#title-bar .right-half {
  display: flex;
  flex-direction: row;
}

#title-bar .left-half {
  flex-basis: 80px;
  flex-shrink: 4;
  flex-grow: 1;
}

#title-bar .right-half {
  justify-content: flex-end;
  flex-basis: 80px;
  flex-shrink: 4;
  flex-grow: 1;
}

#title-bar a,
#title-bar input {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

#title-bar a.back {
  font-weight: bold;
  font-size: 1.5em;
}

#title-bar a.back:hover {
  text-decoration: none;
}

#title-bar h1 {
  margin: 0;
  font-size: 1.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

@media (display-mode: window-controls-overlay) {
  #title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
  }

  nav {
    display: none;
  }

  #layout {
    margin-top: calc(1em + env(titlebar-area-height, 0px));
  }

  .window-controls-overlay-hidden,
  #layout h1 {
    display: none;
  }
}

nav .left-half,
nav .right-half {
  display: flex;
  flex-direction: row;
  flex-basis: 52px;
  flex-shrink: 0;
}

nav .right-half {
  justify-content: flex-end;
}

nav a.logo {
  line-height: 0;
}

nav a.about {
}

main {
  display: flex;
  flex-flow: column;
  margin-bottom: env(safe-area-inset-bottom);
}

.clock-row {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clock-row form {
  display: none;
}

.clock-row .time-and-place {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-block-end: 1rem;
}

.clock-row .time-and-place .inputs-section {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-between;
  min-width: 0px;
}

@media (display-mode: window-controls-overlay) {
  .clock-row .time-and-place .inputs-section {
    justify-content: space-around;
  }
}

/* clock row followed by another clock row */
.clock-row:has(+ .clock-row) {
  margin-bottom: 1em;
}

.clock-row .clock {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.clock-row .clock[hidden] {
  display: none;
}

.clock-row .clock input.unix-input {
  width: 14ch;
}

.clock-row .clock input[type="datetime-local"],
.clock-row .clock input.unix-input {
  text-align: center;
  align-self: flex-end;
}

.clock-row .time-and-place .clockface-wrapper {
  width: min(30vw, 120px);
  flex: 0 0 auto;
  line-height: 0;
  display: flex;
}

/* scrolly */
.clock-row .actions,
.tabs-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none; /* Gecko */
  align-items: center;
  align-self: flex-end;
  max-width: 100%;
  /* negative margin to leave the space for focus outline */
  padding: 0.5rem 0.5rem 1rem;
  margin: -0.5rem -0.5rem 0;
}
.clock-row .actions::-webkit-scrollbar,
.tabs-row::-webkit-scrollbar {
  display: none; /* Webkit/Blink */
}

.clock-row .actions .scrolly,
.tabs-row .scrolly {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  width: max-content;
}

.clock-row .actions .scrolly > a,
.clock-row .actions .scrolly > button,
.tabs-row .scrolly > a,
.tabs-row .scrolly > button {
  white-space: nowrap;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.clock-row .scrolly > a,
.tabs-row .scrolly > a {
  min-width: 2rem;
}

.clock-row .scrolly > button,
.tabs-row .scrolly > button {
  min-width: 2.5rem;
}

.clock-row .scrolly > a svg,
.clock-row .scrolly > button svg,
.tabs-row .scrolly > a svg,
.tabs-row .scrolly > button svg {
  width: auto;
  height: 1rem;
}

.tabs-row .scrolly > button[aria-selected="true"] svg {
  display: none;
}

@media (min-width: 30rem) {
  .clock-row .scrolly > button svg,
  .tabs-row .scrolly > button svg {
    display: none;
  }
}

@media (max-width: 30rem) {
  .tabs-row .scrolly > button span {
    display: none;
  }

  .tabs-row .scrolly > button[aria-selected="true"] span {
    display: inline;
  }
}

.tabs-row button[role="tab"][aria-selected="true"],
button[role="radio"][aria-checked="true"] {
  background-color: var(--background);
}

.tabs-row button[role="tab"][aria-selected="true"]:focus-visible,
button[role="radio"][aria-checked="true"]:focus-visible {
  outline-offset: -1px;
}

[role="tabpanel"][hidden] {
  display: none;
}

.discord-other-formats {
  display: flex;
  flex-flow: row wrap;
  margin: -0.5rem;
  gap: 0.25rem;
}

.discord-format {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex: 1 1 160px;
  gap: 0.25rem;
  margin: 0.5rem;
  padding: 0.25rem;
  background-color: var(--section);
}

.discord-format .discord-format_row {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex: 1 1 0;
  justify-content: space-between;
  width: 100%;
}

.discord-format .discord-format_label {
  flex: 1 1 0;
}

.discord-format button {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-left: 0.5rem;
}

.discord-format .discord-format_code {
  color: var(--deemphasis);
  font-style: italic;
  flex: 0 0 100%;
  align-self: flex-end;
}

.calendar-links-form {
  margin-bottom: 1rem;
}

.calendar-links-form label {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  min-height: 2.25em;
}

.calendar-links-form label > span {
  white-space: nowrap;
}

.calendar-links-form label input {
  width: 300px;
  min-width: 100px;
  margin-left: 1rem;
  flex-shrink: 1;
}

/* scrolly */
.calendar-links-form label [role="radiogroup"] {
  margin-left: 1rem;
  display: flex;
  flex-flow: row;
  overflow-x: scroll; /* Gecko */
  scrollbar-width: none;
  align-items: center;

  /* negative margin to leave the space for focus outline */
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem 0 0rem;
}
.calendar-links-form label [role="radiogroup"]::-webkit-scrollbar {
  display: none; /* Webkit/Blink */
}

.calendar-links-form label button[role="radio"] {
  margin-left: 0.25rem;
}

.calendar-links-rows {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -0.5rem -0.5rem 0;
}

.calendar-links-rows .calendar-links-row {
  flex: 1 1 160px;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.25rem;
  background-color: var(--section);
  text-align: center;
}

@media (min-width: 30rem) {
  .clock-row .clock input[type="datetime-local"],
  .clock-row .clock input.unix-input {
    font-size: 1.3rem;
  }
}

.clock-row .clock .relative {
  color: var(--deemphasis);
  align-self: flex-end;
  font-style: italic;
  /* align the line with the typographic baseline */
  margin-bottom: -0.35em;
}

#saved-timezones {
}

#saved-timezones #local-as-saved {
  margin-bottom: 1.5em;
}

#saved-timezones .message-empty {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  min-height: 5rem;
}

#saved-timezones .timezone-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: rgba(128, 128, 128, 0);
  transition: background-color ease-in-out 0.3s;
}

#saved-timezones .timezone-row .timezone-label-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 3rem;
  justify-content: center;
  word-break: break-word;
  min-width: 0;
}

#saved-timezones .timezone-row .timezone-label-wrapper a.timezone-label {
  align-self: flex-start;
}

#saved-timezones .timezone-row .timezone-time-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 3rem;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
  margin-left: 0.5rem;
}

#saved-timezones .timezone-row .timezone-label-wrapper .subtitle,
#saved-timezones .timezone-row .timezone-time-wrapper .subtitle {
  color: var(--deemphasis);
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

#saved-timezones .timezone-row .timezone-label-wrapper .subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* putting ellipsis in the beginning of the string */
  direction: rtl;
  text-align: left;
}

.spacer {
  flex-grow: 1;
}

#the-tweet img {
  width: auto;
  height: auto;
  max-width: 100%;
}

form#send-code {
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

form#send-code input {
  width: 100px;
  flex-basis: 0;
  margin: 0 0.25rem 0 0;
  padding: 0 0.25rem;
  text-transform: uppercase;
}

form#send-code input::placeholder {
  text-transform: none;
}
