#timezones-edit #timezones-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

#timezones-edit .timezone-row.sortable-ghost {
  background-color: rgba(128, 128, 128, 0.25);
  transition: background-color ease-in-out 0s;
}

#timezones-edit .timezone-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  background-color: rgba(128, 128, 128, 0);
  transition: background-color ease-in-out 0.3s;
  min-height: 2.25em;
}

#timezones-edit .timezone-row .timezone-label {
  flex-shrink: 1;
  padding: 0.25rem;
}

#timezones-edit .timezone-row .dnd-handle {
  cursor: grab;
  line-height: 0;
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  color: #888;
}

#timezones-edit .timezone-row.saving .plus-icon,
#timezones-edit .timezone-row.saved .plus-icon,
#timezones-edit .timezone-row.saving .dnd-handle,
#timezones-edit .timezone-row.saved .dnd-handle {
  color: var(--primary);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#timezones-edit .timezone-row.saving .plus-icon,
#timezones-edit .timezone-row.saving .dnd-handle {
  animation: spin 2s infinite linear;
}

#timezones-edit .timezone-row .timezone-label-wrapper {
  flex-grow: 1;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-width: 0;
}

#timezones-edit .timezone-row .timezone-label-wrapper .subtitle {
  color: var(--deemphasis);
  font-size: 0.9rem;
  margin-left: calc(1px + 0.25rem); /* input's border + left padding */
  margin-right: calc(1px + 0.25rem); /* input's border + left padding */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* putting ellipsis in the beginning of the string */
  direction: rtl;
  text-align: left;
}
