{{#> head title="Settings" }}
<link rel="stylesheet" type="text/css" href="../home/index.css" />
<link rel="stylesheet" type="text/css" href="./index.css" />
{{/ head }}
<body>
  <div id="title-bar">
    <div class="left-half">
      <a href="/" class="back" title="Back">&larr;</a>
    </div>
    <h1>Settings</h1>

    <div class="right-half"></div>
  </div>
  <div id="layout">
    {{> nav }}

    <main>
      <h1>Settings</h1>

      <div id="timezones-edit"></div>

      <div id="account-edit"></div>
    </main>
  </div>
  <script src="../../register-sw.ts" type="module"></script>
  <script src="./index.tsx" type="module"></script>
</body>
