{{#> head title="Success" }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ static 'src/pages/home/index.css' type='entrypoint' }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ static 'src/pages/slack/install/index.css' type='entrypoint' }}"
/>
{{/ head }}
<body>
  <div id="title-bar">
    <div class="left-half">
      <a href="/" class="back" title="Back">&larr;</a>
    </div>
    <h1>Success</h1>

    <div class="right-half"></div>
  </div>
  <div id="layout">
    {{> nav }}

    <main>
      <h1>Success</h1>

      <p>Slack app was successfully installed</p>

      <p>Now go send some when.st links :)</p>

      <p>
        <a href="/">Go back to home</a>
      </p>
    </main>
  </div>
  <script
    src="{{ static 'src/register-sw.ts' type='entrypoint' }}"
    type="module"
  ></script>
  <script
    src="{{ static 'src/pages/slack/install/index.ts' type='entrypoint' }}"
    type="module"
  ></script>
</body>
