<footer>
  <div></div>
  <div style="image-rendering: pixelated; image-rendering: crisp-edges; text-align: right;">
    <a href="/"><img src="{{ asset "logo-white.png" }}"></a>
  </div>
  <div></div>
</footer>
