<span class="status_emoji">
  {{~#if status_emoji_html}}{{{status_emoji_html}}}{{else}}&nbsp;{{/if ~}}
</span>

{{~#if status_text_html}}<hr><span class="status_text">{{{status_text_html}}}</span>{{/if ~}}
