{{~#if status_emoji_html~}}
  <span class="status_emoji">{{{status_emoji_html}}}</span>
{{~else~}}
  <span class="status_emoji empty-emoji">&nbsp;</span>
{{~/if ~}}


{{~#if status_text_html}}<hr><span class="status_text">{{{status_text_html}}}</span>{{/if ~}}
