body,
span,
div,
button,
input,
select,
textarea,
optgroup {
  color: black;
  /*
  font-family: -apple-system, system-ui, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  */
  font-family: "iA Writer Quattro S", ui-monospace, system-ui-monospaced,
    "SF Mono", "Menlo", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),
    url("fonts/iAWriterQuattroS-Regular.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 400;
  font-display: optional;
  src: url("fonts/iAWriterQuattroS-Italic.woff2") format("woff2"),
    url("fonts/iAWriterQuattroS-Italic.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("fonts/iAWriterQuattroS-Bold.woff2") format("woff2"),
    url("fonts/iAWriterQuattroS-Bold.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 700;
  font-display: optional;
  src: url("fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"),
    url("fonts/iAWriterQuattroS-BoldItalic.woff") format("woff");
}

div,
span,
input,
button {
  line-height: 1.35em;
}

button {
  border-radius: 0;
  cursor: pointer;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
}

.button,
button[type="submit"] {
  color: black;
  background-color: lightgray;
  border-color: lightgray;
  padding: 0.25em;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}

.button.primary,
button.primary[type="submit"] {
  background-color: royalblue;
  border-color: royalblue;
  color: white;
}

.button.danger,
button.danger[type="submit"] {
  background-color: rgb(202, 60, 60);
  border-color: rgb(202, 60, 60);
  color: white;
}

.button:disabled,
.button.primary:disabled,
button[type="submit"]:disabled,
button.primary[type="submit"]:disabled,
form:invalid button[type="submit"],
form:invalid button.primary[type="submit"] {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #555;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: blue;
}

.deeper {
  opacity: 0.5;
  flex-grow: 1;
  align-self: center;
  padding: 0 0.5em;
  color: blue;
}

#layout {
  width: 30em;
  margin: 0em auto;
  max-width: 100%;
}

#topbar {
  border-bottom: lightgray 1px solid;
  padding: 0.5em 0.5em 1em 0.5em;
}

#topbar nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

#topbar nav ol {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  align-items: center;
}

#topbar nav ol li {
  box-sizing: border-box;
}

#topbar nav ol li a {
  text-decoration: none;
  padding-right: 0.5em;
  display: inline-block;
}

#topbar nav ol li a::before {
  content: "â¯";
  display: inline-block;
  opacity: 0.5;
  padding-left: 0.2em;
}

#topbar nav ol li.no-chevron a::before {
  content: "";
  width: 0;
  display: none;
}

#topbar .current-account {
  position: relative;
  line-height: 0;
  box-sizing: border-box;
  height: 3em;
}

.icon-group {
  display: inline-block;
  height: 2.6em;
  width: 2.6em;
  position: relative;
  line-height: 0;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.icon-group img {
  max-height: 100%;
}

.icon-group .team-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.5em;
  border-top: white 1px solid;
  border-left: white 1px solid;
  background: white;
}

#topbar .current-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding-top: 1em;
}

.status {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  min-height: 2em;
  text-align: initial;
  border: lightgray 1px solid;
  background: white;
}

.status a,
a.status {
  color: black;
}

.status .status_emoji {
  text-align: center;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  min-width: 1.3em;
}

.status .status_emoji .not-found {
  font-family: "iA Writer Quattro S", ui-monospace, system-ui-monospaced,
    "SF Mono", "Menlo", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  color: gray;
}

.status .status_emoji.empty-emoji {
  background: url(data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ5NiA1MTIiPjxwYXRoIGZpbGw9ImdyYXkiIGQ9Ik0yNDggOEMxMTEgOCAwIDExOSAwIDI1NnMxMTEgMjQ4IDI0OCAyNDggMjQ4LTExMSAyNDgtMjQ4UzM4NSA4IDI0OCA4em0wIDQ0OGMtMTEwLjMgMC0yMDAtODkuNy0yMDAtMjAwUzEzNy43IDU2IDI0OCA1NnMyMDAgODkuNyAyMDAgMjAwLTg5LjcgMjAwLTIwMCAyMDB6bS04MC0yMTZjMTcuNyAwIDMyLTE0LjMgMzItMzJzLTE0LjMtMzItMzItMzItMzIgMTQuMy0zMiAzMiAxNC4zIDMyIDMyIDMyem0xNjAgMGMxNy43IDAgMzItMTQuMyAzMi0zMnMtMTQuMy0zMi0zMi0zMi0zMiAxNC4zLTMyIDMyIDE0LjMgMzIgMzIgMzJ6bTQgNzIuNmMtMjAuOCAyNS01MS41IDM5LjQtODQgMzkuNHMtNjMuMi0xNC4zLTg0LTM5LjRjLTguNS0xMC4yLTIzLjctMTEuNS0zMy44LTMuMS0xMC4yIDguNS0xMS41IDIzLjYtMy4xIDMzLjggMzAgMzYgNzQuMSA1Ni42IDEyMC45IDU2LjZzOTAuOS0yMC42IDEyMC45LTU2LjZjOC41LTEwLjIgNy4xLTI1LjMtMy4xLTMzLjgtMTAuMS04LjQtMjUuMy03LjEtMzMuOCAzLjF6Ij48L3BhdGg+PC9zdmc+Cg==);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.3em 1.3em;
}

.status > hr {
  width: 0;
  height: 1em;
  border: 0;
  padding: 0;
  margin: 0;
  border-right: 1px solid lightgray;
  color: lightgray;
}

.status .status_text {
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 0.5em;
  flex-basis: 0;
}

#topbar .status {
  flex-grow: 1;
}

.status-form {
  flex-flow: row wrap;
}

.status-form .status {
  flex-grow: 1;
}

.status-form .status input {
  border: none;
  width: 3em;
  min-width: 1em;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.status .status_emoji,
.status .status_text,
.status-form .status input {
  padding: 0.5em;
}

.status-form label {
  cursor: pointer;
}

.status-form input[name="status_text"] {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

.status-form input[name="status_emoji"],
.status-form input[name="status_emoji"]:focus:valid {
  width: 3em;
  min-width: 1em;
  margin-right: 0.25em;
  max-width: initial;
  padding: 0.5em;
  padding-left: 0.25em;
}

.status-form input[name="status_emoji"]:valid {
  width: 0;
  min-width: 0;
  margin-right: 0;
  max-width: 0;
  padding-left: 0;
  padding-right: 0;
}

.custom-emoji {
  width: 1.35em;
  height: 1.35em;
  vertical-align: text-bottom;
}

.preset-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 1em;
  justify-content: space-between;
  align-items: center;
}

.preset-row button {
  flex-shrink: 0;
}

footer {
  border-top: lightgray 1px solid;
  padding: 1em 0.5em;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
