body {
  color: black;
  /*
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  */
  font-family: "iA Writer Quattro S", "SF Mono", "Menlo-Regular", Consolas,
    "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
    "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),
    url("fonts/iAWriterQuattroS-Regular.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/iAWriterQuattroS-Italic.woff2") format("woff2"),
    url("fonts/iAWriterQuattroS-Italic.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/iAWriterQuattroS-Bold.woff2") format("woff2"),
    url("fonts/iAWriterQuattroS-Bold.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro S";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"),
    url("fonts/iAWriterQuattroS-BoldItalic.woff") format("woff");
}

input,
button {
  color: black;
}

div,
span,
input,
button {
  color: black;
  line-height: 1.35em;
}

button {
  border-radius: 0;
  cursor: pointer;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
}

.button,
button[type="submit"] {
  color: black;
  background-color: lightgray;
  border-color: lightgray;
  padding: 0.5em;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}

.button.primary,
button.primary[type="submit"] {
  background-color: royalblue;
  border-color: royalblue;
  color: white;
}

.button.danger,
button.danger[type="submit"] {
  background-color: rgb(202, 60, 60);
  border-color: rgb(202, 60, 60);
  color: white;
}

.button:disabled,
.button.primary:disabled,
button[type="submit"]:disabled,
button.primary[type="submit"]:disabled,
form:invalid button[type="submit"],
form:invalid button.primary[type="submit"] {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #555;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: blue;
}

a.deeper {
  opacity: 0.5;
  flex-grow: 1;
  align-self: center;
  padding: 0 0.5em;
}

#layout {
  width: 30em;
  margin: 0em auto;
  max-width: 100%;
}

#topbar {
  border-bottom: lightgray 1px solid;
  padding: 0.5em 0.5em 1em 0.5em;
}

#topbar nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

#topbar nav ol {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  align-items: center;
}

#topbar nav ol li {
  box-sizing: border-box;
}

#topbar nav ol li a {
  text-decoration: none;
  padding-right: 0.5em;
  display: inline-block;
}

#topbar nav ol li a::before {
  content: "❯";
  display: inline-block;
  opacity: 0.5;
  padding-left: 0.2em;
}

#topbar nav ol li.no-chevron a::before {
  content: "";
  width: 0;
  display: none;
}

#topbar .current-account {
  position: relative;
  line-height: 0;
  box-sizing: border-box;
  height: 3em;
}

.icon-group {
  display: inline-block;
  height: 2.6em;
  position: relative;
  line-height: 0;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.icon-group img {
  max-height: 100%;
}

.icon-group .team-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.5em;
  border-top: white 1px solid;
  border-left: white 1px solid;
  background: white;
}

#topbar .current-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding-top: 1em;
}

.status {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  min-height: 2em;
  text-align: initial;
  border: lightgray 1px solid;
  background: white;
}

.status a,
a.status {
  color: black;
}

.status .status_emoji {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.status .status_emoji .not-found {
  font-family: inherit;
  color: gray;
}

.status > hr {
  width: 0;
  height: 1em;
  border: 0;
  padding: 0;
  margin: 0;
  border-right: 1px solid lightgray;
}

.status .status_text {
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 0.5em;
  flex-basis: 0;
}

#topbar .status {
  flex-grow: 1;
}

.status-form {
  flex-flow: row wrap;
}

.status-form .status {
  flex-grow: 1;
}

.status-form .status input {
  border: none;
  width: 3em;
  min-width: 1em;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.status .status_emoji,
.status .status_text,
.status-form .status input {
  padding: 0.5em;
}

.status-form label {
  cursor: pointer;
}

.status-form input[name="status_text"] {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

.status-form input[name="status_emoji"],
.status-form input[name="status_emoji"]:focus:valid {
  width: 3em;
  min-width: 1em;
  margin-right: 0.25em;
  max-width: initial;
  padding: 0.5em;
  padding-left: 0.25em;
}

.status-form input[name="status_emoji"]:valid {
  width: 0;
  min-width: 0;
  margin-right: 0;
  max-width: 0;
  padding-left: 0;
  padding-right: 0;
}

.custom-emoji {
  width: 1.35em;
  height: 1.35em;
  vertical-align: text-bottom;
}

.preset-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 1em;
  justify-content: space-between;
  align-items: center;
}

.preset-row button {
  flex-shrink: 0;
}

footer {
  border-top: lightgray 1px solid;
  padding: 1em 0.5em;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
