body {
  color: black;
}

input,
button {
  color: black;
}

button {
  border-radius: 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: blue;
}

a.deeper {
  opacity: 0.5;
  flex-grow: 1;
  align-self: center;
  padding: 0 0.5em;
}

#layout {
  width: 30em;
  margin: 0em auto;
  min-height: 100vh;
  max-width: 100%;
}

#topbar nav,
#topbar .current-status {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
}

#topbar nav ol {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  height: 3em;
  align-items: center;
}

#topbar nav ol li {
  box-sizing: border-box;
}

#topbar nav ol li a {
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
}

#topbar nav ol li a::before {
  content: "â¯";
  display: inline-block;
  opacity: 0.5;
}

#topbar nav ol li.no-chevron a::before {
  content: "";
  width: 0;
  display: none;
}

#topbar .current-account {
  height: 100%;
  position: relative;
  line-height: 0;
  box-sizing: border-box;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  height: 3em;
}

#topbar .current-account img {
  border-radius: 100%;
  max-height: 100%;
  border: blue 1px solid;
}

#topbar .current-account .team-icon {
  position: absolute;
  bottom: -0.2em;
  right: -0.2em;
  height: 1.5em;
  border: white 2px solid;
}

#topbar .current-status {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0.5em;
}

.status {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  min-height: 2em;
  text-align: initial;
  border: lightgray 1px solid;
  border-radius: 0.5em;
}

.status > i {
  min-width: 2em;
  color: gray;
  text-align: center;
  font-style: normal;
}

.status > hr {
  width: 0;
  height: 1em;
  border: 0;
  border-left: 1px solid lightgray;
}

.status > span {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0.5em;
  line-height: 1.35em;
}

.custom-emoji {
  width: 1.35em;
  height: 1.35em;
  vertical-align: text-bottom;
}

.preset-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.preset-row button {
  flex-shrink: 0;
}
