body {
  background: #490a3d;
  color: white;
}

input,
button {
  color: black;
}

button {
  border-radius: 0;
}

#layout {
  background: #bd1550;
  width: 30em;
  margin: 0em auto;
  min-height: 100vh;
  max-width: 100%;
}

#topbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
}

#topbar .back,
#topbar .current-status,
#topbar .account {
  flex-basis: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topbar .back {
  background: #d40505;
  width: 3em;
  justify-content: space-around;
  color: white;
  text-decoration: none;
}

#topbar .current-status {
  flex-grow: 1;
  justify-content: space-between;
}

#topbar .current-account {
  width: 3em;
  position: relative;
  line-height: 0;
}

#topbar .current-account .team-icon {
  position: absolute;
  bottom: -2px;
  right: 0px;
  width: 50%;
  border-radius: 0.8em 0 0 0;
  border: #bd1550 2px solid;
  border-right: 0;
  border-bottom: 0;
}

.status {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  background: white;
  color: black;
  min-height: 2em;
  text-align: initial;
}

.status > i {
  min-width: 2em;
  color: gray;
  text-align: center;
  font-style: normal;
}

.status > hr {
  width: 0;
  height: 1em;
  border: 0;
  border-left: 1px solid lightgray;
}

.status > span {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0.5em;
  line-height: 1.35em;
}

.custom-emoji {
  width: 1.35em;
  height: 1.35em;
  vertical-align: text-bottom;
}

.preset-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.preset-row button {
  flex-shrink: 0;
}
