body {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input,
button {
  color: black;
}

button {
  border-radius: 0;
  cursor: pointer;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
}

.button,
button[type="submit"] {
  color: black;
  border-radius: 0.5em;
  background-color: lightgray;
  padding: 0.5em;
  box-sizing: border-box;
  border: none;
}

.button.primary,
button.primary[type="submit"] {
  background-color: royalblue;
  color: white;
}

.button.danger,
button.danger[type="submit"] {
  background-color: rgb(202, 60, 60);
  color: white;
}

.button:disabled,
.button.primary:disabled,
button[type="submit"]:disabled,
button.primary[type="submit"]:disabled,
form:invalid button[type="submit"],
form:invalid button.primary[type="submit"] {
  background-color: #e6e6e6;
  color: #555;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: blue;
}

a.deeper {
  opacity: 0.5;
  flex-grow: 1;
  align-self: center;
  padding: 0 0.5em;
}

#layout {
  width: 30em;
  margin: 0em auto;
  max-width: 100%;
}

#topbar {
  border-bottom: lightgray 1px solid;
}

#topbar nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
}

#topbar nav ol {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
  padding-left: 0.5em;
  align-items: center;
}

#topbar nav ol li {
  box-sizing: border-box;
}

#topbar nav ol li a {
  text-decoration: none;
  padding: 0.5em;
  padding-left: 0em;
  display: inline-block;
}

#topbar nav ol li a::before {
  content: "â¯";
  display: inline-block;
  opacity: 0.5;
  padding-left: 0.2em;
}

#topbar nav ol li.no-chevron a::before {
  content: "";
  width: 0;
  display: none;
}

#topbar .current-account {
  position: relative;
  line-height: 0;
  box-sizing: border-box;
  height: 3em;
}

.icon-group {
  display: inline-block;
  height: 2.6em;
  position: relative;
  line-height: 0;
  padding-right: 0.5em;
}

.icon-group img {
  border-radius: 100%;
  max-height: 100%;
}

.icon-group .team-icon {
  position: absolute;
  bottom: -1px;
  right: 0em;
  height: 1.5em;
  border: white 1px solid;
}

#topbar .current-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding: 0.5em;
}

.status {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  min-height: 2em;
  text-align: initial;
  border: lightgray 1px solid;
  border-radius: 0.5em;
  padding: 0.3em 0.5em;
}

.status a,
a.status {
  color: black;
}

.status .status_emoji {
  color: gray;
  text-align: center;
}

.status > hr {
  width: 0.5em;
  height: 1em;
  border: 0;
  padding: 0;
  margin: 0;
  border-right: 1px solid lightgray;
}

.status .status_text {
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 0.5em;
  line-height: 1.35em;
  flex-basis: 0;
}

#topbar .status {
  flex-grow: 1;
}

.status-form {
  flex-flow: row wrap;
}

.status-form .status {
  flex-grow: 1;
}

.status-form input {
  border: none;
  margin-left: 0.5em;
  padding: 0;
  width: 3em;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.status-form .status .status_text {
  padding: 0;
}

.status-form label {
  cursor: pointer;
}

.status-form input[name="status_emoji"],
.status-form input[name="status_emoji"]:focus:valid {
  width: 3em;
  margin-left: 0.5em;
  line-height: 1.35em;
  max-width: initial;
}

.status-form input[name="status_emoji"]:valid {
  width: 0;
  margin-left: 0;
  max-width: 0;
}

.custom-emoji {
  width: 1.35em;
  height: 1.35em;
  vertical-align: text-bottom;
}

.preset-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.preset-row button {
  flex-shrink: 0;
}
