<nav>
  <div class="left-half">
    <a href="/" class="logo">
      <picture>
        <source
          media="(prefers-color-scheme: dark)"
          srcset="../../../images/logo-black-square.png"
          width="36"
          height="36"
        />
        <img
          src="../../../images/logo-white-square.png"
          width="36"
          height="36"
        />
      </picture>
    </a>
  </div>

  <div class="right-half">
    <a href="/about" class="about">About</a>
  </div>
</nav>
