{{#> head title="Link" }}
<link rel="stylesheet" type="text/css" href="../home/index.css" />
<link rel="stylesheet" type="text/css" href="./index.css" />
{{/ head }}
<body>
  <div id="title-bar">
    <div class="left-half">
      <a href="/" class="back" title="Back">&larr;</a>
    </div>
    <h1>Link</h1>

    <div class="right-half"></div>
  </div>
  <div id="layout">
    {{> nav }}

    <main></main>
  </div>
  <script src="../../register-sw.ts" type="module"></script>
  <script src="./index.tsx" type="module"></script>
</body>
