.main {
  position: relative;
  align-self: flex-start;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

:global(#title-bar) .main {
  align-items: center;
}

:global(#title-bar) .main input {
  text-align: center;
  padding: 0.1rem;
}

.main input,
.main .input-sizer {
  font-size: 1.5rem;
  line-height: 1.25em;
  font-weight: bold;
}

:global(#title-bar) .main input,
:global(#title-bar) .main .input-sizer {
  font-size: 1.5rem;
}

@media (min-width: 30rem) {
  .main input,
  .main .input-sizer {
    font-size: 2rem;
  }

  :global(#title-bar) .main input,
  :global(#title-bar) .main .input-sizer {
    font-size: 1.5rem;
  }
}

.main .input-sizer {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  padding-inline: calc(0.25rem + 1px);
  box-sizing: border-box;
  word-break: nowrap;
  padding-block-end: calc(0.5rem + 2px);
}

:global(#title-bar) .main .input-sizer {
  padding-block-end: calc(0.25rem + 2px);
}

.main input {
  box-sizing: border-box;
  min-width: min(20px, 100%);
}

.main input,
.main [role="listbox"] {
  min-width: min(20px, 100%);
}

.main [role="combobox"] {
}

.main [role="combobox"]:focus::placeholder {
  color: transparent;
}

.main [role="combobox"][aria-expanded="false"]:placeholder-shown {
}

.main [role="listbox"] {
  font-size: 1rem;
  background: var(--background);
  border: 1px solid var(--separator);
  position: absolute;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin-top: 0.25rem;
}

.main [role="listbox"] [role="option"] {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  outline-offset: -1px;
}

.main [role="listbox"] [role="option"] a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
